<h1 mat-dialog-title>{{data.title}}</h1>

<mat-dialog-content>
  <section>
    <ng-template appFormComponent></ng-template>
  </section>
</mat-dialog-content>

<mat-dialog-actions>
  <!--<button mat-button class="btn btn-dark" (click)="cancel()">Cancel</button>-->
  <!--<button mat-button class="btn btn-dark ml-2" (click)="save()">Save</button>-->
  <!--<app-button action="save" [labels]="{ready: 'ready', pending: 'pending', error: 'error', success: 'success'}">Save</app-button>-->
  <app-button action="delete" ></app-button>
  <app-button action="save" class="pull-right" #saveButton></app-button>
  <button appButtonAction="save" (click)="save()">Save</button>
</mat-dialog-actions>

