<!--Top Nav-->
<div class="top-nav">
  <span class="top-nav-company-name">Rowia Solutions</span>
</div>

<div class="shell-wrapper">

  <!--Left Nav-->
  <div class="left-nav">
    <ul>
        <li routerLinkActive="active"><a routerLink="/documentation"><i class="fa fa-file"></i></a></li>
        <li routerLinkActive="active"><a routerLink="/heroes"><i class="fa fa-user-o"></i></a></li>
        <li routerLinkActive="active"><a routerLink="#"><i class="fa fa-calculator"></i></a></li>
        <li routerLinkActive="active"><a routerLink="#"><i class="fa fa-calculator"></i></a></li>
        <li routerLinkActive="active"><a routerLink="#"><i class="fa fa-calculator"></i></a></li>
    </ul>
  </div>

  <!--Section Nav-->
  <div class="main-area">
    <router-outlet></router-outlet>
  </div>
</div>
